<!-- <button class="btn btn-primary m-1" (click)="createContact()">
  Create Contact
</button>
<button class="btn btn-primary m-1" (click)="replaceContact()">
  Replace Contact
</button>
<button class="btn btn-primary m-1" (click)="deleteContact()">
  Delete Contact
</button>

<button class="btn btn-primary m-1" (click)="createCompany()">
  Create Company
</button>
<button class="btn btn-primary m-1" (click)="replaceCompany()">
  Replace Company
</button>
<button class="btn btn-primary m-1" (click)="deleteCompany()">
  Delete Company
</button> -->

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <search-filter></search-filter>
      <contact-table></contact-table>
    </div>
    <div class="col">
      <contact-detail></contact-detail>
    </div>
  </div>
</div> -->

<div class="bg-danger text-white text-center p-2" *ngIf="error != null">
  <h6 *ngFor="let e of error">{{e}}</h6>
  <button class="btn btn-danger" (click)="clearError()">OK</button>
</div>
<router-outlet></router-outlet>